/*=============================================
            _hamburger.scss
================================================*/
@use './../abstracts' as *;
.hamburger--open {
	@include position(fixed, 4rem, null, null, 24rem, 40px, 40px);
	cursor: pointer;
	z-index: 5 !important;

	span:nth-child(1) {
		@include hamburgerSpans($main2, 50%, 4px, null);
		transform-origin: 0 0;
	}
	span:nth-child(2) {
		@include hamburgerSpans($main2, 100%, 4px, 0.5rem);
	}
	span:nth-child(3) {
		@include hamburgerSpans($main2, 50%, 4px, 0.5rem);
		transform-origin: 100% 0;
	}
}

.hamburger--close {
	@include position(fixed, 4rem, null, null, 24rem, 40px, 40px);
	cursor: pointer;
	z-index: 5 !important;

	span:nth-child(1) {
		@include hamburgerSpans($main2, 50%, 4px, 0.3rem);
		
		transform: translate(-5%, 0) rotate(-40deg);
	}
	span:nth-child(2) {
		@include hamburgerSpans($main2, 100%, 4px, 0.5rem);
		transform: translate(-50%, -50%) rotate(45deg);
	}
	span:nth-child(3) {
		@include hamburgerSpans($main2, 50%, 4px, null);
		
		transform: translate(-100%, 0) rotate(-45deg);
		transform: translate(-100%, 5) rotate(-43deg);
	}
}
