@use './../abstracts';
.modal {
	@include abstracts.position(fixed, 0, 0, 0, 0, 100%, 100%);
	background: rgba(0, 0, 0, 0.6);
	@include abstracts.align(flex, center, center, null);
	z-index: 6;
	&__heading {
		h3 {
			font-size: 3rem;
			font-weight: 600;
			text-transform: capitalize;
			margin-bottom: 1.5rem;
			@include abstracts.responsive(xsmall) {
				font-size: 1.7rem;
			}
		}
	}
	&__body {
		background: abstracts.$white;
		width: 60rem;
		height: auto;
		padding: 2rem;
		font-size: 1.4rem;
		letter-spacing: 1px;
		border-radius: 5px;

		@include abstracts.animateMoveUpOrDown(
			modalAnimate,
			0.5s,
			linear,
			0,
			1,
			forwards,
			-10rem,
			0
		);
	}
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
