@use './../abstracts';
.modal {
	@include abstracts.position(fixed, 0, 0, 0, 0, 100%, 100%);
	background: rgba(0, 0, 0, 0.4);
	@include abstracts.align(flex, center, center, null);

	&__body {
		background: abstracts.$white;
		width: 40rem;
		height: auto;
		padding: 2rem;
		font-size: 1.4rem;
      letter-spacing: 1px;
      @include abstracts.animateMoveUpOrDown(modelAnimate, .5s, linear, -10rem, 0);
	}
}
