/*=============================================
            header.scss
================================================*/
@use './../abstracts';
.header {
	position: relative;
	width: 100%;
	height: 100vh;
	clip-path: polygon(50% 0%, 100% 0, 100% 90%, 0 100%, 0 100%, 0% 60%, 0 0);
	&__logo {
		@include abstracts.position(absolute, 3rem, 0, null, null, null, null);
		z-index: 1;

		img {
			width: 15rem;
			height: auto;
			object-fit: cover;
			cursor: pointer;
		}
	}
	&__video {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			image-rendering: pixelated;
			animation: headerImage 0.5s linear;
			@keyframes headerImage {
				from {
					opacity: 0;
				}
				to {
					opacity: 1;
				}
			}
		}
		@include abstracts.position(absolute, 0, 0, null, null, 100%, 100%);
		overflow: hidden;
	}
	&__contents {
		@include abstracts.position(absolute, 0, 0, null, null, 100%, 100%);
		background-color: rgba(0, 0, 0, 0.4);

		&__text {
			@include abstracts.align(flex, center, center, 100vh);
			&__child {
				&__h1 {
					color: abstracts.$white;
					text-transform: uppercase;
					font-weight: 900;
					font-size: 4.2rem;
					line-height: 3rem;
					letter-spacing: 2px;
					@include abstracts.animateMoveUpOrDown(
						heading,
						1s,
						ease-in,
						-8rem,
						0
					);
				}
				&__p {
					margin-top: 1rem;
					color: abstracts.$white;
					font-size: 1.5rem;
					letter-spacing: 1px;
					@include abstracts.animateMoveUpOrDown(
						subHeading,
						1s,
						ease-out,
						-10rem,
						0
					);
				}
				&__link {
					margin-top: 1rem;
					@include abstracts.animateMoveUpOrDown(
						headerButton,
						1s,
						ease-in,
						8rem,
						0
					);
				}
			}
		}
	}
}
