/* ======================================================
            Preloader
========================================================= */
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: hsl(0, 29%, 97%);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10000;
	overflow: hidden;
}

/* .preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10000;
	overflow: hidden;
	background: #d9d9d9;
	background: #141414;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
} */
.preloader {
	overflow: hidden;
}

.preloader--gif {
	width: 33%;
	align-self: center;
}
