/* ======================================================
            Preloader
========================================================= */
#preloader.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10000;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	background: hsl(0, 29%, 97%);
	overflow: hidden;
}

#preloader--gif.preloader--gif {
	width: 33%;
	align-self: center;
}
