/* ==========================================
            Website Resets
============================================= */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

*::-moz-focus-inner {
	border: 0 !important;
}

*:focus {
	outline: none !important;
}
