/* ==========================================
            Typography
============================================= */
@import './../abstracts/variables';

html {
	// 10 / 16 * 100 = 62.5%
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: $font-ff;

}
ul {
	list-style-type: none;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}